@media (max-width: 900px) {
  main {
    max-width: 100vw;
  }
  body {
    margin: 0;
    background-color: white;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .container {
    max-width: 100vw;
  }
  h1,
  p,
  footer {
    display: none;
  }
  .instructions {
    opacity: 1;
  }
  .button-container {
    margin-top: 2em;
  }
  .cta {
    margin-top: 2em;
    padding: 1em 4em;
  }
  button a {
    color: black;
  }
}
